# Week 2 - Toronto Clustering

In [1]:
import pandas as pd
import numpy as np

                                                                                                              
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

dfs = pd.read_html(url)

print(len(dfs))

3

In [2]:
df = dfs[0]

In [3]:
df.shape

(180, 3)

In [4]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [6]:
df = df[df.Borough != 'Not assigned']

Removed the boroughs that are 'not assigned'.

In [9]:
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
df= df.reset_index(drop=True)

Reset the index.

In [11]:
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [17]:
df.shape
print("This is the shape of the dataframe:", df.shape)

This is the shape of the dataframe: (103, 3)